{% extends "layout.html" %}

{% block head_content %}
    {% if title %}
        <title>Flask Blog - {{title}}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
{% endblock head_content %}

{%block page_header_content%}
    <header class="masthead" style="background-image: url({{url_for('static',filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>About Page</h1>
                        <h2 class="subheading"></h2>
                        <span class="meta">Posted by<a href="#"> Ambrose </a></span>
                        <hr>
                        <span class="meta">It's about time</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{%endblock page_header_content%}


{% block body_content %}
    <h1>Why build it</h1>
    <p>
        In this semester, I took the cloud computing course. The course was full of people at the beginning of this semester, and I thought I may not be able to take it. But it seems I was lucky though

    </p>

    <p>
        And the professor taught us some knowledge about AWS, like how to use  EC2, RDS and ECS stuffs, that was pretty useful because I learned a little bit of Django during the summer holiday and deployed a
        simple website, so I know how important they are. He also taught us some Flask, but very little, so most of the time, I learn it though videos and documentations.

    </p>

    <p>
        I built a simple blog by following vids and I want to make it look nicer, trying to find fancy templates and now it looks indeed better than before, I have the code for old templates in github.
        The night I finished furnishing the website, I came up with an idea to add an admin page for it, to give users different roles, which makes it closer to real blog/forum website, where admins can
        modify/delete inappropriate blogs.
        So After a few day, I finished the admin part, which is pretty simple, but I've learned a lot, like how to add css and js files to my project and make everything work together, and how to write
        sightly more advanced sql queries using sqlalchemy, and how to design user - roles relationship in database.
    </p>

    <p>
        the course hasn't over yet and there are still long way till the end of semester. in fact, the group project even hasn't begun, so i maybe i'll add more stuffs to this site
        the professor talked about APIs and i still need some time to figure it out...

    </p>
{% endblock body_content %}