{% extends "layout.html" %}

{% block head_content %}
    {% if title %}
        <title>Flask Blog - {{title}}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
{% endblock head_content %}

{%block page_header_content%}
    <header class="masthead" style="background-image: url({{url_for('static',filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>Some page Header content in 'about.html'</h1>
                        <h2 class="subheading">Subheading content in 'about.html'</h2>
                        <span class="meta">Posted by<a href="#">Ambrose</a>It's about page</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{%endblock page_header_content%}


{% block body_content %}
    <h1>About page content</h1>
{% endblock body_content %}