{% extends "layout.html" %}
{%block page_header_content%}
    <header class="masthead" style="background-image: url({{url_for('static',filename='img/contact-bg.jpg')}})">
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>Some page Header content in 'layout.html'</h1>
                        <h2 class="subheading">Subheading content in 'layout.html'</h2>
                        <span class="meta">Posted by<a href="#">Ambrose</a>Some day, some day~~</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{%endblock page_header_content%}
{% block body_content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    Reply to: {{replyto}}
                </div>

                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}

                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock body_content %}