{%extends 'admin/admin_layout.html'%}

{%block head_content%}
<link href="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
{%endblock head_content%}


{%block body_content%}
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information
    about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables
        documentation</a>.</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">User Table</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Posts</th>
                    <th>Comments</th>
                    <th>Date Joined</th>
                </tr>
                </thead>
                <tbody>
                {%for user in users%}
                    <tr>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.posts|count}}</td>
                        <td>{{user.comments|count}}</td>
                        <td>{{user.date_registered.strftime('%Y-%m-%d')}}</td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%endblock body_content%}

{%block script_content%}
<!-- Page level plugins -->
<script src="{{url_for('static',filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

<!-- Page level custom scripts -->
<script src="{{url_for('static',filename='js/demo/datatables-demo.js')}}"></script>
{%endblock script_content%}


